<!-- Fixed navbar -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand color-me" href="{{ site.github.url }}">Tolga Durak</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="custom-navbar-element"><a href="{{ site.github.url }}/blog">Blog</a></li>
                <li class="dropdown"><a class="about-link" class="dropdown-toggle" data-toggle="dropdown" href="#">İletişim</a>
                    <ul class="dropdown-menu custom-dropdown-menu">
                        <li>
                            <div class="card hovercard">
                                <div class="cardheader">

                                </div>
                                <div class="avatar">
                                    <img alt="" src="{{ site.github.url }}/img/profile.png">
                                </div>
                                <div class="info">
                                    <div class="title">
                                        <a href="#">Tolga Durak</a>
                                    </div>
                                    <div class="desc">Software developer</div>
                                    <div class="desc">Java lover</div>
                                    <div class="desc">Tech geek</div>
                                </div>
                                <div class="bottom">
                                    <a href="mailto:tdurak93@gmail.com" class="btn azm-social azm-size-30 azm-circle azm-email-2"><i class="fa fa-envelope"></i></a>
                                    <a class="btn-custom btn btn-social-icon btn-sm btn-linkedin" href="https://tr.linkedin.com/in/tdurak93" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a class="btn-custom btn btn-social-icon btn-sm btn-facebook" href="https://www.facebook.com/tdurak93" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a class="btn-custom btn btn-social-icon btn-sm btn-instagram" href="https://www.instagram.com/tdurak93/" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a class="btn-custom btn btn-social-icon btn-sm btn-google" href="https://plus.google.com/u/0/+TolgaDurak" target="_blank"><i class="fa fa-google"></i></a>
                                    <a class="btn-custom btn btn-social-icon btn-sm btn-github" href="https://github.com/fivetech" target="_blank"><i class="fa fa-github"></i></a>
                                    <a class="btn-custom btn btn-social-icon btn-sm btn-bitbucket" href="https://bitbucket.org/tdurak93/" target="_blank"><i class="fa fa-bitbucket"></i></a>
                                    <a class="btn-custom btn btn-social-icon btn-default btn-sm" href="http://steamcommunity.com/id/powerofsilence/" target="_blank"><i class="fa fa-steam"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- container -->
</nav>
<!-- /.navbar -->
